<router-outlet></router-outlet>
<div class="global-app">
  <div class="content">
    <div class="cases">
      <div class="cases-container">
        <div class="cases_title">
          Кейси
        </div>
        <div class="cases_blocks">
          <div class="cases_block">
            <a href="case-tarantinos/">
              <div class="cases_mask"></div>
              <img src="../assets/pics/cases/k1.png" alt="Tarantinos">
            </a>  
          </div>
          <div class="cases_block">
            <a href="google.com">
            <div class="cases_mask"></div> 
              <img src="../assets/pics/cases/k2.png" alt="Zechemodan">
            </a>  
          </div>         
        </div>
      </div>
    </div>
    <div class="cases">
      <div class="cases-container">
        <div class="cases_title">
          Роботи
        </div>
        <div class="cases_blocks">
          <div class="cases_block">
            <a href="google.com">
              <div class="cases_mask"></div>
              <img src="../assets/pics/works/r1.png" alt="Зелений двір">
            </a> 
          </div>
          <div class="cases_block">
            <a href="google.com">
              <div class="cases_mask"></div>
              <img src="../assets/pics/works/r2.png" alt="DotaTiming">
            </a> 
          </div>
          <div class="cases_block">
            <a href="google.com">
              <div class="cases_mask"></div>
              <img src="../assets/pics/works/r3.png" alt="Инфографика">
            </a>  
          </div>
          <div class="cases_block">
            <a href="google.com">
              <div class="cases_mask"></div> 
              <img src="../assets/pics/works/r4.png" alt="DailyUI">
            </a>
          </div>
          <div class="cases_block">
            <a href="google.com">
              <div class="cases_mask"></div>
              <img src="../assets/pics/works/r5.png" alt="Utopia">
            </a>  
          </div>
          <div class="cases_block">
            <a href="google.com">
              <div class="cases_mask"></div>
              <img src="../assets/pics/works/r6.png" alt="Чоботар">
            </a>  
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>