<div class="global_tarantinos">
  <header>
		<div class="header_mask"></div>
		<div class="header_content">
			<div class="header_img">
				<img src="/assets/img/trnt/logo.png" alt="tarantinos">
			</div>
			<div class="header_title">
				TARANTINO'S
			</div>
			<div class="header_desc">
				Кейс
			</div>
		</div>
	</header>
	<section class="about">
		<div class="about_left">
			<div class="about_left_block">
				<div class="section_title">Про клієнта</div>
				<div class="left_block_text">«TARANTINO`S» — бургерна стилізована під фільми Квентіна Тарантіно, з його характерною атмосферою та подачою </div>
			</div>
			<div class="about_left_block">
				<div class="section_title">Задача</div>
				<div class="left_block_text">Розробити візитки, картки для постійних клієнтів, меню, рекламні та сезонні плакати та сертифікати</div>
			</div>
		</div>
		<div class="about_right">
			<img src="/assets/img/trnt/info.png" alt="Інфо">
		</div>
	</section>
	<section class="card">
		<div class="section_title">
			Візитка
		</div>
		<div class="card_img"><img src="/assets/img/trnt/visit.png" alt="Візитки"></div>
	</section>
	<section class="card2">
		<div class="section_title">
			Картка для постійних клієнтів
		</div>
		<div class="card2_cards">
			<div class="card2_left">
				<img src="/assets/img/trnt/card1.png" alt="Картка для постійних клієнтів">
			</div>
			<div class="card2_right">
				<img src="/assets/img/trnt/card2.png" alt="Картка для постійних клієнтів">
			</div>
		</div>
	</section>
	<section class="menu">
		<div class="section_title">
			Меню
		</div>
		<div class="menu_img">
			<img src="/assets/img/trnt/menu.png" alt="Меню">
		</div>
	</section>
	<section class="posters">
    <div class="section-helper">
        <div class="section-helper_container">
          <div class="section_title">
            Плакати
          </div>
        </div>
    </div>
		<div class="posters_img"></div>
		<div class="posters_img-mobile">
			<div class="poster_img"><img src="/assets/img/trnt/poster1.png"></div>
			<div class="poster_img"><img src="/assets/img/trnt/poster11.png"></div>
			<div class="poster_img"><img src="/assets/img/trnt/poster111.png"></div>
		</div>
	</section>
	<section class="season-posters">
    <div class="section_title">Плакати сезонної пропозиції</div>
    <div class="season-posters">
      <div class="season-poster1">
        <img src="/assets/img/trnt/ice1.png" alt="Плакати сезонної пропозиції">
      </div>
      <div class="season-poster2">
        <img src="/assets/img/trnt/ice2.png" alt="Плакати сезонної пропозиції">
      </div>
    </div>
	</section>
	<section class="action">
		<div class="section_title">
			Сертифікат для розіграшу
		</div>
		<div class="action_img">
			<img src="/assets/img/trnt/certif.png" alt="Сертифікат для розіграшу">
		</div>
  </section>
</div>
