<div class="global_tarantinos">  
  <header>
		<div class="header_mask"></div>
		<div class="header_content">
			<div class="header_img">
				<img src="/assets/img/zchm/logo.png" alt="zechemodan">
			</div>
			<div class="header_title">
				ZECHEMODAN
			</div>
			<div class="header_desc">
				Кейс
			</div>
		</div>
	</header>
	<section class="about">
		<div class="about_left">
			<div class="about_left_block">
				<div class="section_title">Про клієнта</div>
				<div class="left_block_text">Туристичний клуб «Зелений чемодан» займається організацією неформальних поїздок по Україні та продажом квитків </div>
			</div>
			<div class="about_left_block">
				<div class="section_title">Задача</div>
				<div class="left_block_text">Розробити візитки, конверти для видачі квитків.
          Створити та підтримувати сайт для туристичного клубу</div>
			</div>
		</div>
		<div class="about_right">
			<img src="/assets/img/zchm/info.png" alt="Інфо">
		</div>
	</section>
	<section class="card">
		<div class="section_title">
			Візитка
		</div>
		<div class="card_img"><img src="/assets/img/zchm/visit.png" alt="Візитки"></div>
	</section>
	<section class="card2">
		<div class="section_title">
			Конверт
		</div>
		<div class="card2_cards">
      <div class="card_img"><img src="/assets/img/zchm/envelope.png" alt="Конверт"></div>
		</div>
	</section>
	<section class="menu">
		<div class="section_title">
			Сайт тур клубу
    </div>
    <div class="web-site_container">
      <div class="web-site">
        <div class="web-site_left-block">
          <img src="../../assets/img/zchm/site.png">
        </div>  
        <div class="web-site_right_block">
            Основною задачою сайту є подача інформації про тури,
            які проводить, або планує проводити туристичний клуб. 
            Структура сайту дозволяє максимально просто дізнатись все 
            необхідне  про тури, а також можливість зареєструватись на них.
        </div>
      </div>
      <div class="web-laptop">
        <div class="web-laptom_img">
          <img src="../../assets/img/zchm/note.png">
        </div>
      </div>
    </div>
	</section>
	<section class="posters">
    <div class="posters_block__left">
      <div class="section_title">
        Адаптив
      </div>
      <div class="posters_desc">
        Оскільки туристичний клуб в першу чергу молодіжний,
        то особлива увага була приділена саме мобільній версії,
        яка в свою чергу працює на будь-яких екранах, незалежно від пристрою
      </div>
    </div> 
    <div class="posters_block__right">
      <img src="../../assets/img/zchm/Phone.png">
    </div>
	</section>
</div>  