@import url('https://fonts.googleapis.com/css?family=Rubik:700');
@font-face {
    font-family: ProximaNova;
    src: url('../../assets/fonts/ProximaNovaSemibold.otf');
}
@font-face {
    font-family: ProximaNovaBold;
    src: url('../../assets/fonts/ProximaNovaBold.otf');
}
*{
	margin: 0;
	padding: 0;
	font-family: ProximaNova;
}
img{
    max-width: 100%;
}
.global_tarantinos{
    background-color: #4eeaa5;
}
header{
	height: 100vh;
	width: 100%;
	background-image: url(/assets/img/zchm/main.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.header_mask{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(41, 41, 41, .5);
	z-index: 1;
}
.header_content{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;

}
.header_title{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}
.header_title, .header_desc{
	color: #38976d;
	font-size: 96px;
	text-align: center;
	z-index: 2;
}
.header_img{
	z-index: 2;
}
.header_desc{
	color: white;
	font-family: ProximaNovaBold;
}
section{
	padding: 50px 0;
	max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
}
.section_title{
	color: #292929;
	font-size: 48px;
	margin: 25px 0;
	font-family: ProximaNovaBold;
}
.about_left_block{
    margin-right: 115px;
    max-width: 475px;
}
.about_right_block{
	height: 540px;
	width: 515px;
}
.left_block_text{
	font-size: 20px;
}
.about_left_block:nth-child(2){
	margin-top: 50px;
}
section.card, section.card2, section.menu, section.action{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.card_img{
	max-width: 1100px;
	height: 720px;
}
.card_img img{
	max-width: 100%;
}
.card2_cards .card_img{
    height: 600px;
}
.web-site{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.web-site_left-block{
    width: 60%;
}
.web-site_right_block{
    width: 40%;
    font-size: 20px;
}
.web-laptom_img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.action_img{
    height: 530px;
    width: 735px;
    margin: 0 auto;
}
.posters_block__left{
    width: 45%;
}
.posters_block__right{
    width: 55%;
}
section.posters{
    padding-bottom: 0;
}
.posters_block__right img{
    height: 100%;
}
@media (max-width: 1023px){
    .header_title, .header_desc{
        font-size: 42px;
    }
    section.about{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column
    }
    .about_right{
        margin-top: 40px;
    }
    .card_img{
        height: auto;
    }
    .card2_left, .card2_right{
        height: auto;
        width: 100%;
    }
    .menu_img{
        height: auto;
        width: auto;
    }
    .action_img{
        height: auto;
        width: auto;
    }
    section{
        margin: 0 20px;
    }
    .about_left_block, .about_right_block{
        margin: 0;
    }
    .card2_cards{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .card2_right{
        margin-top: 0;
    }
    .season-posters{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .season-poster1, .season-poster2{
        height: auto;
        width: 100% ;
    }
    .header_img{
        text-align: center;
    }
    .header_img img{
        max-width: 85%;
    }
    .card2_cards .card_img{
        height: auto;
    }
    .web-site{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .web-site_left-block, .web-site_right_block{
        width: auto;
    }
    section.posters{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .posters_block__left, .posters_block__right{
        width: 100%;
    }
    .posters_block__right img{
        height: auto;
    }
}
