 <section class="landsh">
  <div class="content">
    <div class="left-block">
      <div class="left-block_title">Сайт «Зеленого
        Двору»</div>
      <div class="left-block_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
    </div>
    <div class="right-block">
      <div class="right-block__img">
        <div class="right-block__img-1">
          <img src="../../assets/img/rbt/sad1.png">
        </div> 
        <div class="right-block__img-2">
          <img src="../../assets/img/rbt/sad2.png">
        </div> 
      </div>
    </div>
  </div>  
</section>
<section class="dota">
  <div class="content">
    <div class="left-block">
      <div class="left-block_title">Dota timing</div>
      <div class="left-block_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
      <a href="https://play.google.com/store/apps/details?id=com.timings.discrimine.dotatiming"><img class="rbt_but" src="../../assets/img/rbt/btns/button_gp.png"></a>
    </div>
    <div class="right-block">
      <div class="right-block__img"><img src="../../assets/img/rbt/timing.png"></div>
    </div>
  </div>  
</section>
<section class="info">
  <div class="content">
    <div class="left-block">
      <div class="left-block_title">Інфографіка для
        kudapostupat</div>
      <div class="left-block_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
    </div>
    <div class="right-block">
      <div class="right-block__img"><img src="../../assets/img/rbt/kuda.png"></div>
    </div>
  </div>  
</section>
<section class="daily">
  <div class="content">
    <div class="left-block">
      <div class="left-block_title">Daily UI challenge</div>
      <div class="left-block_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
      <a href="https://play.google.com/store/apps/details?id=com.timings.discrimine.dotatiming"><img class="rbt_but" src="../../assets/img/rbt/btns/button dribbble.png"></a>
    </div>
    <div class="right-block">
      <div class="right-block__img"><img src="../../assets/img/rbt/DUI.png"></div>
    </div>
  </div> 
</section>
<section class="utopia">
  <div class="content">  
    <div class="left-block">
      <div class="left-block_title">Логотип для Utopia</div>
      <div class="left-block_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
    </div>
    <div class="right-block">
      <div class="right-block__img"><img src="../../assets/img/rbt/Utopia.png"></div>
    </div>
  </div>  
</section>
<section class="chobotar">
  <div class="content">
    <div class="left-block">
      <div class="left-block_title">Вивіска для ремонту
        взуття</div>
      <div class="left-block_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </div>
    </div>
    <div class="right-block">
      <div class="right-block__img"><img src="../../assets/img/rbt/CHBTR.png"></div>
    </div>
  </div>  
</section>    